.bg {
    font-family: "Arial Narrow", sans-serif;
    color: white;    
    background-color: #154271;
}

.bar {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-left: 30px;
}

.bar .logo {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.animacion img{
    width: 500px;
    height: 500px;
    float: right;
}

.presentacion .titulo{
    font-size: 200px;
    margin-left: 30px;
}

.presentacion .detalle{
    font-family: 'Verdana', sans-serif;
    font-size: xx-large;
    margin-left: 30px;
}
.presentacion .detalle button{
    width: 210px;
    height: 55px;
    border-radius: 15px;
    background-color: #3BEB08;
    color: white;
}

.presentacion .detalle img{
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-bottom: 10px;
}
/*hr*/
.container1{
    margin-top: 25px;
}
.parte1{
    display: flex;
    align-items: center;
    padding: 20px;
    font-family: "Arial", sans-serif;
    font-size: x-large;
}
.parte1 img{
    margin-bottom: 10px;
    margin-right: 5px;
}

.target {
    border-radius: 30px;
}

.parte2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.parte2 div {
    flex: 0 0 calc(33.33% - 20px);
    padding: 20px;
    box-sizing: border-box;
}

.parte2 div img {
    width: 100%;
    height: auto;
}

.pie{
    text-align: center;
}

.qr {
    width: 400px;
    height: auto;
}

.espacio{
    margin-top: 50px;
}

/*Responsivo*/
.bg {
    font-family: "Arial Narrow", sans-serif;
    color: white;    
    background-color: #154271;
    margin: 0;
}

/* Estilos para pantallas m치s grandes (escritorio) */
@media screen and (min-width: 768px) {
    .animacion img {
        width: 70%;
        max-width: 500px;
        height: auto;
        float: right;
    }

    .presentacion .titulo {
        font-size: 150px;
    }

    .presentacion .detalle button {
        width: 200px;
        font-size: large;
        margin-right: 50px;
    }

    .presentacion .detalle img {
        width: 40px;
        height: auto;
        margin-left: 10px;
    }

    .parte1, .parte2 {
        padding: 20px;
        margin: 10px;
        font-size: large;
    }

    .qr {
        width: 300px;
        height: auto;
        margin-left: 150px;
    }

    .velas {
        margin-left: 200px;
    }
}

/* Estilos para pantallas m치s peque침as (m칩viles) */
@media screen and (max-width: 767px) {
    .animacion img {
        width: 100%;
        float: none;
    }

    .presentacion .titulo {
        font-size: 100px;
    }

    .presentacion .detalle button {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .presentacion .detalle img {
        width: 30px;
        height: auto;
        margin-left: 10px;
    }

    .parte1, .parte2 {
        padding: 10px;
        margin: 10px;
        font-size: medium;
    }

    .qr {
        width: 100%;
        margin-left: 0;
    }

    .velas {
        margin-left: 0;
    }
}
