body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .container img{
    border-radius: 20%;
    padding: 10px;
  }
  
  .header img {
    max-width: 10%;
    height: auto;
  }
  .container img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .navigation {
    background-color: #c0c6cc;
    padding: 10px 0;
  }
  
  .navigation a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    background-color: #ffffff;
    padding: 5px;
    margin-left: 2.5em;
    border-radius: 10%;
  }
  
  .main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .feature img,
  .courses img {
    max-width: 100%;
    height: auto;
  }
  
  .feature h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .cta {
    background-color: #28a745;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .cta h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .cta p {
    line-height: 1.5;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #fff;
    color: #28a745;
    text-decoration: none;
  }
  
  .contact-number {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-top: 10px;
  }
  
  .footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px 0;
  }
  
  .qr {
    max-width: 50%;
    height: auto;
  }
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 2em;
    }
  
    .navigation {
      text-align: center;
    }
  
    .navigation a {
      display: block;
      margin: 10px 0;
    }
  
    .main-content {
      flex-direction: column;
    }
  
    .feature,
    .courses {
      margin: 10px 0;
    }
  
    .cta h2 {
      font-size: 1.5em;
    }
  
    .btn,
    .contact-number {
      display: block;
      width: 50%;
      margin: 10px 0;
    }
  }
  